body {
	background-color: black;
	color: white;
}

table {
	margin-top: 5px;
	margin-left: 25%;
	width: 50%;
	text-align: center;
}

table tr td {
	padding-bottom: 5px !important;
}

canvas {
	border: 1px solid grey;
}

.operationenLeft {
	padding-left: 10%;
}

.operationenRight {
	padding-right: 10%;
}

.setups {
	border-color: gray !important;
	width: 100%;
	background-color: #1C1C1C !important;
	color: black;
}

.setupHead {
	background-image: linear-gradient(to bottom, #2C3539 0px, black 100%) !important;
	color: lightgray !important;
	word-spacing: 200px;
}

.layout {
	margin-left: 0;
}

.buttonSeite {
	padding-left: 5px;
}

.fieldSeite {
	padding-left: 20%;
	width: 100%;
}

.volume {
	color: white;
}

.numberbox {
	width: 50px;
}

.labelTime {
	border: none;
	background-color: #1C1C1C;
	color: white;
}

.Fader {
	margin-left: 22% !important;
}