body {
	background-color: black;
	color: white;
	margin: 20px 0;
}

table {
	margin-top: 5px !important;
	margin: 0 auto;
	width: 50%;
	text-align: center;

}

table tr td {
	padding-bottom: 5px !important;
	padding-left: 5px !important;
	vertical-align: top !important;
}

canvas {
	border: 1px solid grey;
}

.setups {
	border-color: gray !important;
	width: 100%;
	background-color: #1C1C1C !important;
	color: black;
}

.setupHead {
	background-image: linear-gradient(to bottom, #2C3539 0px, black 100%) !important;
	color: lightgray !important;
	word-spacing: 200px;
}

.layout {
	margin-left: 0;
}

.buttonSeite {
	padding-left: 5px;
	color: white;
}

.fieldSeite {
	padding-left: 20%;
	width: 100%;
	color: black;
}

.volume {
	color: white;
}

.numberbox {
	width: 50px;
}

input[type=label] {
	-webkit-appearance: none;
	border: none;
	background-color: #1C1C1C;
	color: white;
}

input[type=range] {
	-webkit-appearance: none;
	background-color: white;
	border-radius: 25px;
	height: 6px;
}

select {
    color: black;
}

.hidden {
    visibility: hidden;
}

#midiChoice {
    min-width: 15em;
}

