body {
	background-color: #2C3539;
	margin: 10px;
}

section {
	width: 100%;
	padding-left: 5px;
}

table tr td {
	vertical-align: top;
	padding-bottom: 5px;
}

.video_sec {
	height: auto;
	text-align: center;
	
	/* Demo Teil */
	font-size: 20px;
	color: gray;
	text-align: center;
	line-height: 250px;
}

.setups {
	height: auto;
	margin-right: 20px;
	text-align: left;
	font-size: 15px;
	color: gray;
	background-color: #2C3539;
	border-color: gray;
	
}

.filterinput {
	width: 30px;
	height: 25px;
	margin-left: 5px;
}

.videoDiv {
	width: 40%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
	border: 1px solid gray;
}

.setupsSection {
	margin-top: 10px;
	text-align: center;
}

.setupDiv {
	padding-right: 10px;
	width: 40%;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
}

.setupHead {
	background-image: linear-gradient(to bottom, #2C3539 0px, black 100%) !important;
	color: lightgray !important;
}